.re{
    font-family: system-ui;
      text-decoration: none;
      background: black;
      padding: 9px 23px;
      color: #fff;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 700;
  }
   .carts button{
      font-family: system-ui;
      text-decoration: none;
      background: black;
      padding: 9px 23px;
      color: #fff;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 700;
  }
  
  .carts button:hover{
      background: #fff;
      color: black;
      border: solid 2px black;
      transition-duration: .3s;
  }
  
  .white{
    color:#fff;
  }
  body{
      font-family: system-ui;
  }
  header{
      background-color: black;
      padding-top: 18px;
      padding-bottom: 18px;
      box-shadow: 0 7px 8px -3px grey;
      position: fixed;
      width: 100%;
      margin-top: -10px;
      z-index: 99;
  }
  .container{
      max-width: 1200px;
      text-align: center;
      margin: auto;
  }
  .header-section{
      display: flex;
      justify-content: space-between;
      margin: auto;
      align-items: center;
      position: relative;
  }
  .header-section div{
      position: relative;
  }
  .header-section p{
      position: absolute;
      top: -24px;
      right: -8px;
      background-color: #fff;
      padding: 1px 6px;
      border-radius: 50%;
      color: red;
      font-weight: 700;
      font-family: system-ui;
      line-height: 18px;
  }
  .logo{
      width: 164px;
      height: 84px;
      cursor: pointer;
  }
  
  .cart{
      width: 60px;
      height: 60px;
  }
  /*carrito*/
  .cart-products{
      position: absolute!important;
      top: 82px;
      right: -18px;
      background-color: #fff;
      padding: 0 18px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
      display: none;
  
      min-width: 290px;
  }
  
  .cart:hover{
      margin-bottom: 16px;
      transition-duration: .5s;
  }
  /*carrito en producto*/
  .containerr{
    align-content: center;
      max-width: 1200px;
      text-align: center;
      margin: auto;
  }
  .cartss{
      max-width: 250px;
      box-shadow: 0 3px 10px #000000;
      padding-bottom: 34px;
      margin-bottom: 40px;
  }
  
  .cartss p{
      font-family: system-ui;
      font-weight: 500;
      padding: 0 20px;
      margin-bottom: 24px;
  }
  .cartss div p{
      position: absolute;
      top: 0;
      right: 0px;
      background-color: lavender;
      color: #fff;
      padding: 2px 7px 4px 21px;
      clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  }
  .cartss div{
      position: relative;
  }
  .cartss a{
      font-family: system-ui;
      text-decoration: none;
      background: black;
      padding: 9px 23px;
      color: #fff;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 700;
  }
  
  .cartsss a:hover{
      background: #fff;
      color: black;
      border: solid 2px black;
      transition-duration: .3s;
  }
  /*end header*/
  .products{
      padding-top: 170px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  
  .carts{
      max-width: 250px;
      box-shadow: 0 3px 10px #000000;
      padding-bottom: 34px;
      margin-bottom: 40px;
  }
  .carts img{
      width: 100%;
  }
  .carts p{
      font-family: system-ui;
      font-weight: 500;
      padding: 0 20px;
      margin-bottom: 24px;
  }
  .carts div p{
      position: absolute;
      top: 0;
      right: 0px;
      background-color: lavender;
      color: #fff;
      padding: 2px 7px 4px 21px;
      clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  }
  .carts div{
      position: relative;
  }
  .carts a{
      font-family: system-ui;
      text-decoration: none;
      background: black;
      padding: 9px 23px;
      color: #fff;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 700;
  }
  
  .carts a:hover{
      background: #fff;
      color: black;
      border: solid 2px black;
      transition-duration: .3s;
  }
  
  /*float cart*/
  .cart-products .item img{
      width: 115px;
  }
  
  .cart-products .item{
      display: flex;
      align-items: center;
      border-bottom: solid 2px black;
  }
  .cart-products .item .item-content{
      margin: 0 19px;
      width: 201px;
  }
  .cart-products .item .item-content h5{
      margin: 0;
      font-size: 15px;
      font-weight: 400;
      font-family: system-ui;
  }
  .cart-products .item .item-content h6{
      margin: 0;
      font-size: 13px;
      font-weight: 400;
      font-family: system-ui;
  }
  .cart-products .item span{
      background-color: black;
      padding: 0px 5px;
      border-radius: 50%;
      color: #fff;
      font-family: system-ui;
      cursor: pointer;
  }
  .cart-products h3{
      margin-bottom: 0;
  }
  .cart-products .item .item-content h5.cart-price{
      font-weight: 700;
  }
  
  /*stye to btn close*/
  p.close-btn{
      top: -4px;
      right: 6px;
      cursor: pointer;
      color: #000;
  }
  p.author {
      display: flex;
      justify-content: center;
      FONT-VARIANT: JIS04;
      margin-top: 3%;
      gap: 7px;
  }
  p.author a {
      text-decoration: none;
      font-weight: 700;
      color: #000;
  }



  /*imagenes de terminal*/
  .imgmas{
      width: 170px;
      height: auto;
      border-radius: 2em;
      border-color: black;
  }
  .imgame{
      width: 120px;
      height: auto;
      border-radius: 2em;
      border-color: black;
  }
  .imgvisa{
      width: 200px;
      height: auto;
      border-radius: 2em;
      border-color: black;
  }
  .imgup{
      width: 310px;
      height: auto;
      border-radius: 2em;
      border-color: black;  
  }
  .imgvisdeb{
      width: 150px;
      height: auto;
      border-radius: 2em;
      border-color: black;   
  }
  .imgende{
      width: 150px;
      height: auto;
      border-radius: 2em;
      border-color: black;   
  }
  .imgmasdeb{
      width: 210px;
      height: auto;
      border-radius: 2em;
      border-color: black;  
  }
  .imgoxxo{
      width: 210px;
      height: 120px;
      border-radius: 2em;
      border-color: black;  
  }
  .imgpay{
      width: 250px;
      height: auto;
      border-radius: 2em;
      border-color: black;  
  }
  .highlight-video{
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;  
}

  /*LETRAS*/
  .term{
    font-size: 5em;
    text-align: center;
}
  .subterm{
      font-size: 2em;
      text-align: left;
      color: #06BDFF;
  }
  .divterm{
      margin-top: 3em;
  }
  .divbusc{
    margin-top: 8em;
    margin-left: 25em;
}  
.colblanco{
  color: #ffffff;
}
.divs{
    padding:25px 70px;
    background-color: black;
}
  /*Botones*/
.btnbuscar{
    padding: 1em 2em;
    border-radius: 20em;
    font-size: 1.2em;
    background-color: black;
  }

  .btnrpp{
    top: -20em;
    text-align: right;
    cursor: pointer;
    color: #000;
}
  .btnins{
    padding: 1em 2em;
    border-radius: 20em;
    font-size: 1.2em;
    background-color: white;  
  }
/*IMG PRODUCTOS*/
.imgsuda{
    width: 4em;
    height: 17em;
    display:flex;
}
.imgsudor{
    width: 4em;
    height: 17em;
    display:flex;
}
.proy{
    width: 15em;
    height: 90em;
}
/*IMAGENES DE MENU*/
.imgmenu{
    width: 5em;
    height: 5em;
}
/*Logo*/
.titlogo{
    width: 10em;
    height: auto;
    margin-right: 9em;
}
.logo {
  width: 164px;
  height: 150px;
  cursor: pointer;
  border-radius: 15em;
}

/*AGREGADOOO*/

.imgproducto{
    border-radius: 5%;
    border-style: solid;
    border-color: #000000;
    height: 15em;
    margin: 1em;
    width: 40em;
    height: 40em;
  }
  .select{
    padding:.5em 2em;
  }
  .h1{
    float: right;
    background: white;
    margin: 1em; 
      font-size: 500%;
  }
  .tittallas{
    font-size: 1.5em;
    
  }
  .titcolor{
    float: right;
    font-size: 1.5em;
    margin: 2em 2em;
    margin-right: 8em;
  }
  .botonañadiracarrito{ 
    display:inline-block;
    padding: 1em 2em;
    background: lightblue;
    color:#000000;
    border-radius:6em;
    border-style:solid;
    border-color:#000000;
    cursor:pointer;
    text-decoration: none;
  }
  .btnfinalizar {
    display:inline-block;
    padding: 1em 2em;
    background: gray;
    color: white;
    border-radius:6em;
    border-style:solid;
    border-color:#000000;
    cursor:pointer;
    text-decoration: none;
  }
  .lun{cursor: pointer;
      background-color: #000000;
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
      width: 48px;
      height: 48px;
      appearance: none;
      border: 2px solid #888;
      transition: background-color 0.3s ease-in-out;
  }
  
  /*botones*/
  .color-selector {
    display: flex;
    gap: 10px;
  }
  
  .color-option {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .color-option.selected {
    transform: scale(1.2);
    border: 2px solid black;
  }
  .btnrojo{
    background-color: red;
  }
  .btnverde{
    background-color: green;
  }
  .btnazul{
    background-color: blue;
  }
  .btnamarillo{
    background-color: yellow;
  }
  /*alineciones*/
  .colores{
    margin-left: 60em;
  }
  .cantidad{
    margin-left: 40em;
    font-size: 1.5em;
  }
  /*contador*/
  
   /* Estilo para el contenedor del contador */
   .contador-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 45em;
  }
  
  /* Estilo para los botones */
  .btn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #9d9d9e;
    color: #fff;
    border-radius: 5px;
  }
  
  /* Estilo para el número del contador */
  #contador {
    font-size: 18px;
    margin: 0 10px;
    text-align: center;
  }
  
  /* Agregado */
  
  .btncafe {
    background-color: saddlebrown;
  }
  .btnoldlace {
    background-color: oldlace;
  }
  .btnnegro {
    background-color: black;
  }
  .btnrosap {
    background-color: pink;
  }
  .btngris {
    background-color: gray;
  }
  .btnmorado {
    background-color: purple;
  }
  .btnmoradolight {
    background-color: plum;
  }
  .btnazulcielo {
    background-color: lightskyblue;
  }
  .btnamarillolight {
    background-color: papayawhip;
  }
  .btnazulfuerte {
    background-color: midnightblue;
  }
  .btnamarilloclaro {
    background-color: lightgoldenrodyellow;
  }
  .btnrojofuerte {
    background-color: darkred;
  }
  
  .imgproducto1{
    border-radius: 5%;
    border-style: solid;
    border-color: #000000;
    height: 15em;
    margin: 1em;
    width: 25em;
    height: 40em;
  }

  .txt-center {
      text-align: center;
  }

  